.App {
  font-family: sans-serif;
  text-align: center;
}

ul li {
  list-style: none;
  margin-bottom: 20px;
}

img {
  display: block;
  margin: 20px auto;
}

button {
  border: none;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}
